*{
    margin: 0%;
}
.images_box{
    display: flex;
    left: 200px;
}
.img1{
    position: relative;
    width: 500px;
    height: 600px;
    border: .5 solid;
    left: 80px;
    top: 100px;
    transition: .3s ease;
}
.img:hover{
    cursor: pointer;
    transform: scale(1.04);
}
.img2{
    position: relative;
    width: 500px;
    height: 600px;
    border: .5 solid;
    top: 1000px;
    right: 425px;
    transition: .3s ease;
    z-index: 2;
}

.img3
{
    position: relative;
    width: 500px;
    height: 600px;
    border: .5 solid;
    /* left: 80px; */
    top: 560px;
    right: 600px;
    transition: .3s ease;
    z-index: 1;
}
.img{
    padding: 1px;
    border-radius: 19px;
}
.images:hover .button{
    display: block;
    cursor: pointer;
}
.images{
    position: relative;
    display: inline-block;
}
