*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(4, 51, 67);
    box-sizing: border-box;
}


.whole{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    
    border: .1px solid blue;
    border-color: transparent;
    
}
.first-header{
    border: .1px solid;
    border-color: transparent;
    height: 90px;
    position: relative;
    width: 100%;
}
.second-header{
    border: .1px outset rgb(3, 30, 40);
    width: 100%;
    position: sticky;
    height: 120px;
    padding: 0;
    display: flex;
    overflow: hidden;
    top: 0;
    background: #073642;
    z-index: 1;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3); 
}
.mdn{
    color: rgb(238, 193, 169);
    position: relative;
    top: 50px;
    left: 100px;
    font-size: 52px;
    height: fit-content;
    border: .2px solid;
    border-color: transparent;
    margin: 0;
    font-style:oblique;
}
.main{
    color: white;
    padding-top: 20px;
    display: flex;
    padding-left:30px;
    padding-right: 70px;
    line-height: 60px;
    font-size: 20px;
}
.main p{
    word-spacing: 12px;
    
}
.links{
    border: 2px solid pink;
    position: relative;
    height: fit-content;
    top: 90px;
    left: 274px;
    border-color: transparent;
}
/* .link:hover{
    border: .001px groove;
    border-radius: 12px;
} */
.link{
    border-bottom:2px solid transparent;
    
} 
.link:hover{
    border-bottom-color:#fff;
}   

.link{
    color: white;
    text-decoration: none;
    margin: auto 40px;
    font-size: 26px;
}
.first-section{
    position: sticky;
    display: block;
    border: 2px solid transparent;
    height:max-content;
    width: 40%;
    margin: 20px 70px;
    padding: auto ;
    top: 120px;
    z-index: 2;
    overflow: hidden;

}
.main-links{
    color: white;
    display: block;
    text-decoration: none;
    font-weight: 800;
    margin: 50px auto;
}
.content{
    margin: auto 10px;
    padding: 10px 120px;
}