*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 67.5%;
}
.whole{
    display: flex;
    flex-direction: column;
}
.header{
    /* display: flex; */
    height: 5rem;
    min-height: fit-content;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    border: .2px solid transparent;
    /* justify-content: center; */
    background-color: aliceblue;
    border-bottom: .2px solid rgb(0, 0, 0, .25);
    
}
.navbar{
    display: flex;
    border: .2px solid transparent;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 5em;
    min-height: fit-content;
    background-color: aliceblue;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 12px;
    
}
@media(max-width: 1800px){
    .header{
        height: 10rem;
    }
    .navbar{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        padding-left: 0px;
        /* gap: 5rem; */
    }
    .logo-search{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .navbar .links{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-start: 2;
        grid-template-columns: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}
@media(max-width: 1200px){
    .navbar .links{
        grid-template-columns: 1fr 1fr;
    }
}
.logo-search{
    display: flex;
    height: 5rem;
    width: 100%;
    max-width: 27rem;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1 1 200px;
}
.img-logo{
    position: relative;
}
.logo-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}
.search-box{
    border: 2px solid rgb(128, 128, 128);
    border-radius: 30px;
    height: 3rem;
    padding: .5rem 1.4rem;
    min-width: 280px;
    max-width: 55rem;
    flex: 1 1 200px;
    border-color: rgba(128, 128, 128, 0.5);
}
.search-box::placeholder{
    font-size: 1rem;
    letter-spacing: 1.5px;
    text-align: left;
    opacity: .85;
}
.search-box:hover{
    border: 2px solid rgb(120, 119, 119);
    background-color: rgb(212, 209, 209);
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 5rem;
    flex: auto;
    width: 10em;
    font-size: 1.15rem;
}
.link-btn{
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 1.4px;
    font-family: sans-serif;
    color: rgb(29, 24, 24);
    padding: 0.5rem 1.5rem;
    transition: all .3s ease;
}
.link-btn:hover{
    border: .1px solid grey .5 .5;
    border-radius: 999px;
    background-color: rgb(128, 128, 128, .3);
}
.host-bsns{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: 5rem;
    width: 40em;
    gap: 12px;
    transition: all .3s ease;
    
}
.host-bsns-btn{
    text-decoration: none;
    color: rgb(34, 32, 32);
    font-family: sans-serif;
    font-size: 1.15rem;
    padding: .5rem 1.5rem;
    border: .2px solid grey;
    border-radius: 999px;
    transition: all .23s ease;
}
.host-bsns-btn2{
    background-color: rgb(255, 255, 0, .3);
    border-color: rgb(242, 242, 32, .2);
    
}
.host-bsns-btn1:hover{
    border: .1px solid rgb(91, 133, 225);
    border-radius: 999px;
    color: rgb(59, 105, 205);
    background-color: rgb(148, 176, 236, .3 );
}
.host-bsns-btn2:hover{
    border: .5px solid rgb(201, 170, 15);
}

.main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 160rem;
    border: .2px solid transparent;
}
.main-content{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 25%;
    border: .2px solid transparent;
}
@media(max-width: 1300px){
    .main-content{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 80rem;
        gap: 0;
    }
    .first-half{
        max-height: fit-content;
    }
    .contain{
        flex-direction: column;
    }
    .second-half-temp{
        min-height: 7em;
        min-width: fit-content;
    }
}
.first-half{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    border: .2px solid transparent;
}
.contain{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    height: 60%;
    border: 2px solid transparent;

}
.unlock{
    font-size: 6em;
    
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.unlock:nth-child(1){
    color: rgb(36, 36, 120);
}
.para1{
    opacity: .6;
    font-family: 'Lucida Sans';
    font-size: 1.5em;
    word-spacing: .35em;
    letter-spacing: .15em;
}
.second-half{
    border: .2px solid transparent;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-half-contain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80%;
    width: 70%;
    border: .2px solid transparent;
    gap: 2em;
}
.second-half-temp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: .2px solid transparent;
    border-radius: 30px;
    padding-left: 1.4rem;
}
.second-half-temp:hover{
    cursor: pointer;
}
.second-half-temp h2{
    font-size: 2em;
    font-weight: 200;
    opacity: .75;
    letter-spacing: .1em;
    font-family: sans-serif;
}

.second-half-temp p{
    font-size: 1.2em;
    font-weight: 400;
    opacity: .75;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .18em;
}
.second-half-temp1{
    background-color: #97f1f9;
    border-color: #9af5fe;
}
.second-half-temp2{
    background-color: #9af5ba;
    border-color: #9af5ba;

}
.second-half-temp3{
    background-color: #f8c5f7;
    border-color: #f8c5f7;

}
.second-half-temp4{
    background-color: rgb(255, 255, 152) ;
    border-color: rgb(254, 254, 151);

}
.second-half-temp5{
    background-color: rgb(247, 218, 160);
    border-color: rgb(251, 220, 159);

}
.second-half-temp6{
    background-color: #f98e8e;
    border-color: #f98e8e;
}

.second-half-temp1:hover{
    /* background-color: #38ebfb; */
    border: 1px solid;
    border-color: #03e8fd;
}
.second-half-temp2:hover{
    /* background-color: #39fc7d; */
    border: 1px solid;
    border-color: #00ff59;

}
.second-half-temp3:hover{
    /* background-color: #fb58f8; */
    border: 1px solid;
    border-color: #fc04f8;

}
.second-half-temp4:hover{
    /* background-color: rgb(254, 254, 98) ; */
    border: 1px solid;
    border-color: rgb(254, 254, 0);

}
.second-half-temp5:hover{
    /* background-color: rgb(247, 191, 79); */
    border: 1px solid;
    border-color: rgb(255, 170, 0);

}
.second-half-temp6:hover{
    /* background-color: #f83f3f; */
    border: 1px solid;
    border-color: #fc0101;
}